[submodule "mazongguan-code"]
	path = mazongguan-code
	url = https://github.com/yeongjet/mazongguan-code
[submodule "mazongguan-common"]
	path = mazongguan-common
	url = https://github.com/yeongjet/mazongguan-common
[submodule "mazongguan-user"]
	path = mazongguan-user
	url = https://github.com/yeongjet/mazongguan-user
[submodule "mazongguan-goods"]
	path = mazongguan-goods
	url = https://github.com/yeongjet/mazongguan-goods
[submodule "mazongguan-session"]
	path = mazongguan-session
	url = https://github.com/yeongjet/mazongguan-session.git
[submodule "mazongguan-wechat"]
	path = mazongguan-wechat
	url = https://github.com/yeongjet/mazongguan-wechat.git
[submodule "mazongguan-api-gateway"]
	path = mazongguan-api-gateway
	url = https://github.com/yeongjet/mazongguan-api-gateway.git
